name: Docker

on:
  push:
    branches:
      - "main"
    tags:
      - 'v*'
    paths:
      - .github/workflows/main.yml
      - 'Dockerfile'
      - 'pre-hook.sh'
  pull_request:
    branches:
      - "main"
    paths:
      - .github/workflows/main.yml
      - 'Dockerfile'
      - 'pre-hook.sh'

permissions:
  contents: read
  packages: write
  id-token: write
  attestations: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Docker
        uses: docker/setup-docker-action@efe9e3891a4f7307e689f2100b33a155b900a608 # v4.5.0
        with:
          daemon-config: |
            {
              "features": {
                "containerd-snapshotter": true
              }
            }
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
  
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login To GitHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          flavor: |
            latest=true
          images: ghcr.io/cyb3r-jak3/github-actions-runner
          labels: |
            org.label-schema.vcs-url=https://github.com/Cyb3r-Jak3/github-actions-runner.git
            org.label-schema.schema-version=1.0.0-rc1
            maintainer=Cyb3r Jak3 git@cyberjake.xyz
            org.opencontainers.image.vendor=cyb3rjak3

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build
        with:
          context: .
          push: ${{ startsWith(github.ref, 'refs/tags/v') }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          sbom: true
          provenance: mode=max
          load: ${{ !startsWith(github.ref, 'refs/tags/v') }}

      - name: Test Run
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        run: |
          docker run --rm \
            --entrypoint /bin/bash \
            --env GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} \
            ${{ steps.build.outputs.imageid }} -c '
              tenv version && \
              terraform-docs --version && \
              yq --version && \
              aws --version && \
              docker buildx version && \
              docker compose version && \
              node -v && \
              helm version && \
              op --version && \
              cloudflare-utils --version && \
              cosign version
            '

      - name: GitHub Container Attestation
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        id: attest
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          subject-name: ghcr.io/cyb3r-jak3/github-actions-runner
          subject-digest: ${{ steps.build.outputs.digest }}
          push-to-registry: true

